body {
    text-align: center;
    background-color: #2C3E50;
}

h1 {
    color: #fff;
}

#button-1:hover,
#button-2:hover,
#button-3:hover,
#button-4:hover {
    cursor: pointer;
}

#button-1:hover {
    background-color: #E74C3C;
    color: white;
}

#button-2:hover {
    background-color: inherit;
}

#button-1 {
    border: 5px solid #E74C3C;
    background-color: inherit;
    font-weight: bold;
    color: #E74C3C;
    font-size: 2em;
    border-radius: 10px;
    box-sizing: content-box;
    width: 200px;
    height: 70px;
}

#button-2 {
    background-color: #3498DB;
    border: 5px solid #3498DB;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    box-sizing: content-box;
    width: 200px;
    height: 70px;
}

#button-3 {
    background-color: #F39C12;
    color: white;
    box-sizing: content-box;
    font-size: 2em;
    font-weight: bold;
    width: 200px;
    height: 70px;
}

#button-4 {
    background-color: #D35400;
    color: white;
    box-sizing: content-box;
    font-size: 2em;
    font-weight: bold;
    width: 200px;
    height: 70px;
}